<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 16:00</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.92556</real>
				<key>longitude</key>
				<real>116.381272</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>1</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 16:00</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.92521</real>
				<key>longitude</key>
				<real>116.381233</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园南门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.89512</real>
				<key>longitude</key>
				<real>116.44218</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园北门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>1</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.895412</real>
				<key>longitude</key>
				<real>116.445088</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园西门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.895452</real>
				<key>longitude</key>
				<real>116.445122</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.86502312</real>
				<key>longitude</key>
				<real>116.413141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>39.866055</real>
				<key>longitude</key>
				<real>116.4013141</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>39.866055</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>39.864055</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>39.866055</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>39.86523</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>39.865055</real>
				<key>longitude</key>
				<real>116.4032141</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.865155</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.865055</real>
				<key>longitude</key>
				<real>116.402141</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.8651055</real>
				<key>longitude</key>
				<real>116.404141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.861055</real>
				<key>longitude</key>
				<real>116.403141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.861255</real>
				<key>longitude</key>
				<real>116.403121</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.8652055</real>
				<key>longitude</key>
				<real>116.4033141</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.865055</real>
				<key>longitude</key>
				<real>116.409141</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string> 尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>39.937898</real>
				<key>longitude</key>
				<real>116.457758</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>39.945421</real>
				<key>longitude</key>
				<real>116.422114</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1次／7天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>39.921078</real>
				<key>longitude</key>
				<real>116.479893</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>39.984795</real>
				<key>longitude</key>
				<real>116.456609</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>39.92556</real>
				<key>longitude</key>
				<real>116.381272</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>40.030996</real>
				<key>longitude</key>
				<real>116.345075</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>4</integer>
				<key>latitude</key>
				<real>39.89533</real>
				<key>longitude</key>
				<real>116.445033</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>4</integer>
				<key>latitude</key>
				<real>39.86931</real>
				<key>longitude</key>
				<real>116.41923</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门测试1</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.937898</real>
				<key>longitude</key>
				<real>116.457332</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门测试2</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.983332</real>
				<key>longitude</key>
				<real>116.456609</real>
			</dict>
			<dict>
				<key>address</key>
				<string>大兴区念坛公园东门测试3</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>很好</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>39.936898</real>
				<key>longitude</key>
				<real>116.457758</real>
			</dict>
		</array>
	</array>
</array>
</plist>
