<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市古林公园东门</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 16:00</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.073058</real>
				<key>longitude</key>
				<real>118.760204</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市河海大学</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>1</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 16:00</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.060084</real>
				<key>longitude</key>
				<real>118.763078</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市夫子庙</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.027518</real>
				<key>longitude</key>
				<real>118.794698</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市浦口火车站</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>1</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.102671</real>
				<key>longitude</key>
				<real>118.727146</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市明孝陵风景区</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了啊</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.059105</real>
				<key>longitude</key>
				<real>118.846153</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市理工大学</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.031436</real>
				<key>longitude</key>
				<real>118.86182</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市火车站</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>32.095085</real>
				<key>longitude</key>
				<real>118.803178</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市邮电大学</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>32.122</real>
				<key>longitude</key>
				<real>118.937134</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京南站</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>31.975095</real>
				<key>longitude</key>
				<real>118.803753</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市栖霞山风景区</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>32.158689</real>
				<key>longitude</key>
				<real>118.965305</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市玄武湖公园</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>32.079911</real>
				<key>longitude</key>
				<real>118.801454</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市雨花台风景区</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>1</integer>
				<key>latitude</key>
				<real>32.004495</real>
				<key>longitude</key>
				<real>118.787512</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市长江新村</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.08811</real>
				<key>longitude</key>
				<real>118.783613</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市工人新村</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.086856</real>
				<key>longitude</key>
				<real>118.785626</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市东柏果园</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.084776</real>
				<key>longitude</key>
				<real>118.778224</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市三牌楼小区</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.087192</real>
				<key>longitude</key>
				<real>118.771253</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市利奥大厦</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.083491</real>
				<key>longitude</key>
				<real>118.789039</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市南邮大厦</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.083674</real>
				<key>longitude</key>
				<real>118.777181</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市中大医院</string>
				<key>taskSource</key>
				<integer>2</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>2</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次/1天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.077402</real>
				<key>longitude</key>
				<real>118.783218</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市清凉山公园</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string> 尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.056289</real>
				<key>longitude</key>
				<real>118.766887</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市白马公园</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.067428</real>
				<key>longitude</key>
				<real>118.822941</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市莫愁湖公园</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1次／7天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.03915</real>
				<key>longitude</key>
				<real>118.768324</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市神策门公园</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.095146</real>
				<key>longitude</key>
				<real>118.793674</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市建宁路10号</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.09741</real>
				<key>longitude</key>
				<real>118.786344</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市紫竹林</string>
				<key>taskSource</key>
				<integer>4</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>0</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>1次／7天</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-19 12:20</string>
				<key>taskItemType</key>
				<integer>3</integer>
				<key>latitude</key>
				<real>32.091414</real>
				<key>longitude</key>
				<real>118.779769</real>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市工业大学</string>
				<key>taskSource</key>
				<integer>8</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>4</integer>
				<key>latitude</key>
				<real>32.085418</real>
				<key>longitude</key>
				<real>118.782122</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市口腔医院</string>
				<key>taskSource</key>
				<integer>9</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>4</integer>
				<key>latitude</key>
				<real>32.068162</real>
				<key>longitude</key>
				<real>118.79089</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<string>南京市清凉山公园东门测试1</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-12 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.056289</real>
				<key>longitude</key>
				<real>118.766887</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市莫愁湖公园</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>0</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>2016-12-13 12:20</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.03915</real>
				<key>longitude</key>
				<real>118.768324</real>
			</dict>
			<dict>
				<key>address</key>
				<string>南京市白马公园</string>
				<key>taskSource</key>
				<integer>1</integer>
				<key>faultContent</key>
				<string>充电枪坏了</string>
				<key>taskType</key>
				<integer>3</integer>
				<key>deviceType</key>
				<integer>1</integer>
				<key>distributeTime</key>
				<string>2016-12-12 12:12</string>
				<key>taskCycle</key>
				<string>1天</string>
				<key>repairMan</key>
				<string>王石</string>
				<key>taskNumber</key>
				<string>ASD090909</string>
				<key>tourCycle</key>
				<string>1天</string>
				<key>tourFrequence</key>
				<string>2</string>
				<key>startTime</key>
				<string>2016-12-12 12:20</string>
				<key>advice</key>
				<string>尽快处理</string>
				<key>endTime</key>
				<string>很好</string>
				<key>taskItemType</key>
				<integer>2</integer>
				<key>latitude</key>
				<real>32.067428</real>
				<key>longitude</key>
				<real>118.822941</real>
			</dict>
		</array>
	</array>
</array>
</plist>
